@media only screen and (max-width: 600px){
    .sitelogo{
        overflow: hidden;
        width: 40px;
    }
    .backlink{
        padding: 0 15px;
        vertical-align: top;
        margin-left: 10px;
    }
    .account{
        width: 40px;
        overflow: hidden;
    }
    .carditem{
        width: 100%;
        margin-right: 0;
        .avatar{
            width: 60px;
            height: 60px;
        }
        .cardinfo{
            h2{
                font-size: 18px;
            }
            p{
                font-size: 13px;
            }
            em{
                font-size: 11px;
            }
        }
    }
    .cardinfowrap {
        .avatar-wrap{
            left: 50%;
            @include translate(-50%,0);
        }
        .avatar{
            width: 100px;
            height: 100px;
        }
        .cardmeta{
            margin-top: 50px;
            margin-left: 0px;
            text-align: center;
            h2{
                font-size: 20px;
            }
            p{
                font-size: 14px;
            }
        }
        .badge{
            top: 15px;
            right: 15px;
            background-color: #fff;
        }
    }
    .globalrange{
        h3{
            .right{
                float: none;
                display: block;
                font-size: 10px;
            }
        }
    }
    .individual-row{
        .column-two,
        .column-ten{
            width: 100%;
            float: none;
            clear: both;
        }
        .row-label{
            font-size: 14px;
            margin-bottom: 10px;
        }
    }
}
