@media only screen and (min-width: 601px) and (max-width: 800px) {
    .carditem{
        .avatar{
            width: 80px;
            height: 80px;
        }
        .cardinfo{
            h2{
                font-size: 18px;
            }
            p{
                font-size: 13px;
            }
            em{
                font-size: 11px;
            }
        }
    }
    .cardinfowrap {
        .avatar{
            width: 120px;
            height: 120px;
        }
        .cardmeta{
            margin-left: 150px;
            h2{
                font-size: 20px;
            }
            p{
                font-size: 12px;
            }
        }
        .badge{
            top: 15px;
            right: 15px;
        }
    }
    .row-label{
        font-size: 14px;
    }
}
