/*Variables*/
$dark: #333;
$black: #444;
$darkgray: #666;
$gray: #999;
$header:#3d3348;
$header-boder:#3d3348;
$lightgray: #ccc;
$border: #dfdfdf;
$shadow: rgba(0,0,0,.1);
$background: #f6f6f6;
$offwhite: #fafafa;
$white: #fff;
$blue: #3f91cb;
$green: #8BC34A;
$yellow: #fc0;
$darkblue: #212a31;
$lightblue: #89cde7;
$red: #c30;
$orange: #f60;
$notice: rgba(255, 102, 0, 0.05);
$alertbg: #f7e8bc;
$alertb: darken(#F7E8BC, 20%);
/*Variables End*/
