<header class="header">
    <div class="wrapper clearfix">
        <a class="sitelogo" href="index.html"><img src="images/Agrid_logo.png"></a>
        <div class="account">
            <img src="images/user.png">
            <div class="account-info">
                <h5>Akash Pathak</h5>
                <p>Designer</p>
            </div>
        </div>
    </div>
</header>
