.carditem {
  white-space: nowrap;
  width: 47%;
  margin-right: 3%;
  margin-bottom: 3%;
  float: left;
  cursor: pointer;
  @include transitions;
  &,
  * {
    text-decoration: none;
    color: $black;
  }
  &:nth-of-type(2n+2) {
    margin-right: 0;
  }
  .avatar,
  .cardinfo {
    display: inline-block;
    vertical-align: middle;
  }
  .avatar {
    @include radius(50%);
    overflow: hidden;
    margin-right: 20px;
    width: 100px;
    height: 100px;
    img {
      height: 100%;
    }
  }
  h2 {
    font-size: 20px;
    margin-top: 0;
    text-transform: capitalize;
    margin-bottom: 0.2em;
  }
  p {
    margin-top: 0;
    font-size: 16px;
    text-transform: capitalize;
    margin-bottom: 0;
  }
  em {
    color: $gray;
    display: block;
    font-size: 14px;
    margin-top: 1em;
    font-style: normal;
  }
  &:hover {
    @include shadow(0, 2px, 10px, 0, rgba(0, 0, 0, .1));
    @include translate(0, -2px);
  }
  &:active {
    @include inset(0, 0px, 3px, 0, rgba(0, 0, 0, .1));
    @include translate(0, 0);
  }
}

.cardinfowrap {
  position: relative;
  padding: 20px;
  @include bradius(4px, 4px, 0, 0);
  .avatar-wrap {
    position: absolute;
    top: -50px;
    left: 20px;
    border: 1px solid $border;
    @include radius(50%);
    overflow: hidden;
  }
  .avatar {
    @include radius(50%);
    overflow: hidden;
    border: 5px solid $white;
    @include shadow(0, 1px, 4px, 0, rgba(0, 0, 0, .1));
    width: 140px;
    height: 140px;
    img {
      height: auto;
      max-height: 100%;
      width: 100%;
    }
  }
  .cardmeta {
    margin-left: 170px;
    h2,
    p {
      margin: 0;
    }
    h2 {
      margin-top: 5px;
      text-transform: capitalize;
      margin-bottom: 10px;
    }
    p {
      color: $gray;
      margin-bottom: 10px;
    }

  }
  .badge {
    //background: transparent url('../images/badges/LevelBronze.svg') no-repeat 10px center;
    position: absolute;
    top: 20px;
    right: 20px;
    line-height: 30px;
    font-weight: 400;
    text-transform: capitalize;
    background-size: 18px;
    padding: 5px 10px 5px 35px;
    //border: 1px solid $border;
    @include radius(4px);
    .rating_icon {
      color: #fff;
      line-height: inherit;
      padding: 6px;
      text-align: center;
      background: #3D3348;
      @include radius(100px);

    }
  }
}

li.pagination {
  padding: 1em 0 2em;
  list-style-type: none;
  margin: 0 auto;
  text-align: center;
  p {
    font-size: 14px;
  }
  ul.pager {
    margin: 2em 0;
    list-style-type: none;

    li {
      display: inline;
      &:first-child { margin-right: 1em; }
      a {
        color: $blue;
        text-decoration: none;
        padding: 0.5em 1.5em;
        border: 1px solid $blue;
        @include radius(100px);
      }
    }
  }
}

.individual-row + .individual-row {
  margin-top: 20px;
}

.row-label {
  line-height: 30px;
  padding-left: 30px;
  background: #fff url('../images/storage.png') no-repeat left center;
  font-size: 16px;
  background-size: 20px;
  &.server {
    background-image: url('../images/server.png');
    background-size: 18px;
  }
}
