.footer{
    padding: .6em;
    margin-top: 1.35em;
    background-color: $darkblue;
}
.copyright{
    text-align: center;
    font-size: 13px;
    color: lighten($darkblue, 45%);
    letter-spacing: 1.4px;
    background: $darkblue;
}
