.header{
    background-color: $header;
    border-bottom: 1px solid $header-boder;
    @include shadow(0,0,3px,0,rgba(0,0,0,.08));
}
.backlink{
    line-height: 60px;
    display: inline-block;
    padding: 0 20px;
    border-left: 1px solid $border;
    border-right: 1px solid $border;
    margin-left: 20px;
    cursor: pointer;
    @include transitions;
    text-decoration: none;
    color: $black;
    &:hover{
        background-color: $background;
    }
    &:active{
        background-color: darken($background,2%);
    }
}
.sitelogo{
    padding: 10px 0;
    display: inline-block;
    img{
        max-height: 36px;
    }
}
.account{
    padding: 10px 0;
    float: right;
    white-space: nowrap;
    *{
        padding: 0;
        margin: 0;
    }
    img{
        width: 40px;
        height: 40px;
        @include radius(50%);
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
    }
    .account-info{
        display: inline-block;
        vertical-align: middle;
        color: $white;
    }
    //&:hover{
    //    background-color: $background;
    //    color: $black;
    //}
    //&:active{
    //    background-color: darken($background,2%);
    //    color: $black;
    //}
    h5{
        font-size: 14px;
    }
    p{
        font-size: 12px;
        font-weight: 400;
        color: $white;
    }
}
