html {
    color: $black;
    font-size: 1em;
    line-height: 1.4;
    @include body-font;
    font-weight: 300;
}
 ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
 ::selection {
    background: #b3d4fc;
    text-shadow: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
html,
body {
    width: 100%;
    height: 100%;
    background-color: $background;
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.body{
    min-height: calc(100vh - 124px);
}
.wrapper {
    width: 92%;
    max-width: 1140px;
    min-width: 280px;
    margin: 0 auto;
    &.narrowrap{
        max-width: 800px;
        margin-top: 3.5em;
      &:hover {
        @include shadow(0,2px,10px,0,rgba(0,0,0,.1));
        @include translate(0,-2px);
      }
      &:active {
        @include inset(0,0px,3px,0,rgba(0,0,0,.1));
        @include translate(0,0);
      }
    }
}
.funnel_stat {
  .lnr{
    vertical-align: top;
    font-weight: 800;
  }
}
.whitebox{
    background-color: #fff;
    border: 1px solid $border;
    @include shadow(0,1px,3px,0, rgba(0,0,0,.05));
    @include radius(4px);
    padding: 1.35em;
}
.detailspage{
    margin-top: 80px;
}
.inline-divider{
    border-left: 1px solid $lightgray;
    padding-left: 15px;
    margin-left: 15px;
    &.gray{
        border-color: $border;
    }
}
.rangeslider{
    width: 100%;
    height: 40px;
    background-color: $background;
    @include radius(4px);
    position: relative;
    overflow: hidden;
    &:after{
        content: attr(data-total);
        display: block;
        position: absolute;
        top: 0px;
        line-height: 40px;
        right: 12px;
        font-size: 14px;
    }
    .range{
        background-color: #c30;
        height: 40px;
        color: #fff;
        font-size: 14px;
        text-align: right;
        line-height: 40px;
        padding-right: 12px;
        text-shadow: 0 0 3px rgba(0,0,0,.8);
    }
    &.medium{
        line-height: 30px;
        height: 30px;
        font-size: 12px;
        &:after{
            line-height: 30px;
            font-size: 12px;
        }
        .range{
            font-size: 12px;
            line-height: 30px;
            height: 30px;
        }
    }
}
.lnr{
  vertical-align: middle;
  color: $blue;
  line-height: 30px;

}
.lnr-calendar-full{
  vertical-align: baseline;
}
.globalrange{
  .lnr{
    vertical-align: top;
  }
}
.subsectiontitle{
    color: $gray;
    //text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 300;
  .subsectiontitle_heading{
    color: $black;
    //border-bottom: 3px solid $blue;
    font-weight: 400;
  }
}

.search {
    width: 100%;
    position: relative;

  .fa{
      color:$lightgray;
    }
}

.searchTerm {
    float: left;
    width: 100%;
    border: 2px solid $blue;
    padding: 7px;
    height: auto;
    border-radius: 3px;
    outline: none;
    color: $black;
}

.searchTerm:focus{
    color: $black;
}

.searchButton {
    position: absolute;
    right: 0px;
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: $background;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
    width: 40vw;
    position: relative;
  margin: 0 auto;
    top: 40%;
  text-align: center;
  display: block;
    //left: 50%;
    //transform: translate(-50%, -50%);
  .search_clear{
    position: absolute;
    right: 0px;
    line-height: 40px;
    width: 32px;
    text-align: center;
    height: auto;
    text-decoration: none;
  }
}