.grid-row:before,
.grid-row:after {
    content: " ";
    display: table;
}
.grid-row:after {
    clear: both;
}
.grid-row {
    *zoom: 1;
}
.column{
    float: left;
    width: 100%;
}
.halved{
    width: 50%;
}
.thirds{
    width: 33.33%;
}
.fourths{
    width: 25%;
}
.fifths{
    width: 20%;
}
.column-one{
    width: 8.33%;
}
.column-two{
    width: 16.66%;
}
.column-three{
    width: 24.99%;
}
.column-four{
    width: 33.32%;
}
.column-five{
    width: 41.65%;
}
.column-six{
    width: 49.98%;
}
.column-seven{
    width: 58.31%;
}
.column-eight{
    width: 66.64%;
}
.column-nine{
    width: 74.97%;
}
.column-ten{
    width: 83.3%;
}
.column-eleven{
    width: 91.63%;
}
.column-twelve{
    width: 99.96%;
}
