<section class="body">
    <div class="pageheader wrapper  aligncenter">
        <h1>Agrid Netflix Search
        </h1>
    </div>
    <div class="cardlist wrapper clearfix" ng-controller="usersController">
        <div class="grid-row individual-row">
            <div class="column">
                <div class="wrap">
                    <div class="search">
                        <input type="text" class="searchTerm" ng-model="actorName" ng-change="myChange(actorName)" placeholder="Type an Actor/Actress Name" autofocus>
                        <a href="" class="search_clear" ng-click="clearfunction(this)"><span class="lnr lnr-cross"></span></a>
                    </div>

                </div>
            </div>
        </div>

        <div class="wrapper narrowrap clearfix funnel_stat" ng-show="[item].length > 0">
            <div class="card" ng-hide="onChange == false">
                <label><span class="lnr lnr-funnel"></span> <strong>Sort By:</strong></label>
                <label class="radio"><input type="radio" name="width" ng-model="type" value='Title'
                                            ng-click="orderByMe('-show_title')"><span class="outer"><span
                        class="inner"></span></span>Title</label>

                <label class="radio"><input type="radio" name="width" ng-model="type" value='Release Year'
                                            ng-click="orderByMe('-release_year')"><span class="outer"><span
                        class="inner"></span></span>Release Year</label>

                <label class="radio"><input type="radio" name="width" ng-model="type" value='Duration'
                                            ng-click="orderByMe('-runtime')"><span class="outer"><span
                        class="inner"></span></span>Duration</label>
                <label class="radio"><input type="radio" name="width" ng-model="type" value='rating'
                                            ng-click="orderByMe('-rating')"><span class="outer"><span
                        class="inner"></span></span>Rating</label>

            </div>

        </div>
        <!-- No spacing due to whitespace bug in Chrome. -->
        <!--<div class="wrapper narrowrap clearfix" ng-show="users.length > 0">-->
        <!--&lt;!&ndash;<div>No items found {{users.length}}</div>&ndash;&gt;-->
        <!--<ul>-->
        <!--<li ng-repeat="item in errorCode">-->
        <!--<div>{{ item }}</div>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</div>-->

        <div ng-repeat="item in users | filter:actorName | orderBy:myOrderBy: false | limitTo: limit"
             ng-show="[item].length > 0" ng-hide="onChange == false">
            <div class="wrapper narrowrap clearfix" ng-model="users">

                <div class="cardinfowrap whitebox">
                    <div class="avatar-wrap">
                        <div class="avatar">
                            <img ng-src="{{ item.poster }}">
                        </div>
                    </div>


                    <div class="badge">
                        <span class="rating_icon">{{item.rating}}</span>
                    </div>
                    <div class="cardmeta">

                        <h2><span class="lnr lnr-film-play">&nbsp;</span>{{ item.show_title }}</h2>

                        <p><span class="lnr lnr-tag"></span> {{ item.category}}<span class="inline-divider gray"><span
                                class="lnr lnr-clock"></span> {{ item.runtime }}</span>
                            <span class="inline-divider gray"><span class="lnr lnr-calendar-full"></span> {{ item.release_year }}</span>
                        </p>

                        <p>
                            <span class="lnr lnr-bookmark"></span> {{item.director}}
                        </p>
                    </div>
                </div>


                <div class="globalrange whitebox">

                    <h3 class="subsectiontitle">
                        <span class="subsectiontitle_heading">
                            <span class="lnr lnr-flag">&nbsp;</span>Summary: </span>
                        <br> {{item.summary}}
                    </h3>

                    <h3 class="subsectiontitle">
                        <span class="subsectiontitle_heading"><span class="lnr lnr-users">&nbsp;</span>Cast: </span>
                        <br>{{item.show_cast}}

                    </h3>
                </div>

            </div>


        </div>

        <li class="pagination" ng-hide="onChange == false">
            <ul class="pager ng-isolate-scope">
                <li class="disabled previous"><a href="" ng-click="incrementLimit()" ng-hide="limit < '5'">Show
                    More <span
                            class="lnr lnr-chevron-down"></span></a></li>
                <li class="next"><a href="" ng-click="decrementLimit()" ng-hide="limit <= '5'">Show Less <span
                        class="lnr lnr-chevron-up"></span></a></li>
            </ul>
        </li>
    </div>
</section>
